[submodule "external/magnum"]
	path = external/magnum
	url = git@github.com:mosra/magnum.git
[submodule "external/PhysX"]
	path = external/PhysX
	url = git@github.com:NVIDIAGameWorks/PhysX.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/loguru"]
	path = external/loguru
	url = git@github.com:emilk/loguru.git
[submodule "external/cef"]
	path = external/cef
	url = https://github.com/chromiumembedded/cef.git
[submodule "external/blaze"]
	path = external/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "external/Vc"]
	path = external/Vc
	url = https://github.com/VcDevel/Vc.git
[submodule "external/json.h"]
	path = external/json.h
	url = https://github.com/sheredom/json.h.git
[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/soloud"]
	path = external/soloud
	url = https://github.com/jarikomppa/soloud
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/astar-cpp"]
	path = external/astar-cpp
	url = https://github.com/justinhj/astar-algorithm-cpp.git
[submodule "external/draco"]
	path = external/draco
	url = https://github.com/google/draco.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/arrayfire"]
	path = external/arrayfire
	url = https://github.com/arrayfire/arrayfire.git
[submodule "external/mimalloc"]
	path = external/mimalloc
	url = https://github.com/arrayfire/arrayfire.git
[submodule "external/GameNetworkingSockets"]
	path = external/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "external/ozz-animation"]
	path = external/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "external/Nuklear"]
	path = external/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/tomcrypt"]
	path = external/tomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "external/sqlitecpp"]
	path = external/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/bx"]
	path = external/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "external/crossshader"]
	path = external/crossshader
	url = https://github.com/alaingalvan/crossshader.git
[submodule "external\\ShaderConstructor#"]
	path = "external\\ShaderConstructor#"
	url = https://github.com/microsoft/ShaderConductor.git
[submodule "external/dx12-headers"]
	path = external/dx12-headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "external/crosswindow"]
	path = external/crosswindow
	url = https://github.com/alaingalvan/crosswindow.git
[submodule ".\\external\\ControllerKit"]
	path = .\\external\\ControllerKit
	url = https://github.com/broken-bytes/ControllerKit
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/vulkanhpp"]
	path = external/vulkanhpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
