<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyaniteScripting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Assembly</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Bridge</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CyaniteAssembly</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Graphics2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Graphics3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Input</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Internal</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Math</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>System</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SystemInfo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Time</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
